# Firebase Web Configuration
VITE_FIREBASE_API_KEY="your-api-key"
VITE_FIREBASE_AUTH_DOMAIN="coffee-6ef98.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="coffee-6ef98"
VITE_FIREBASE_STORAGE_BUCKET="coffee-6ef98.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="168593062496"
VITE_FIREBASE_APP_ID="your-app-id"
